{% extends "ksm_app/base.html" %}
{% block body_block %}
{% load static %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
  }
  h1{
    font-size:80px;
  }
</style>
<div id=central class="jumbotron">
  <div class="container">
      <h1>Dabata</h1>
      <div id=jumbotron1 class="jumbotron">
        <form action="" method="POST">
          {% csrf_token %}
          Debatant 1:{{form.user1}} <h4>vs</h4> Debatant 2:{{form.user2}}<br><br>
          Link do transmisji:{{form.transmisja}}<br><br>
          Data: {{form.data}}<br><br>
          <p>Data powinna być w forma (RRRR-MM-DD)</p>
          Godzina: {{form.godzina}}<br><br>
          <p>Godzina powinna być w formacie (GG:MM)</p>
          Sędziuje: {{form.judge}}<br><br>

        <button type="submit" class="btn btn-outline-info">Zatwierdź</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
