{% extends "ksm_app/base.html" %}
{% block body_block %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
  }
  h1{
    font-size:80px;
  }
</style>
<div id=central class="jumbotron">
  <h1>Lista debatantów</h1>
    <div class="container">
      <div id=jumbotron1 class="jumbotron">
        {% for debatant in debatants %}
            <h3><a class="list-group-item list-group-item-primary" href="{% url 'ksm_app:debatants_detail' debatant.id %}">{{ debatant.imię }} {{ debatant.nazwisko }}</a></h3>

        {% endfor %}
        <p>
          <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Kalendarz
          </a>
          <div class="collapse" id="collapseExample"> <br> <br>
            <div class="card card-body">
              <iframe src="https://calendar.google.com/calendar/embed?src=zadebatuj%40ksmowcow.pl&ctz=Europe%2FWarsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>

      </div>
    </div>
</div>

{% endblock %}
