{% extends "ksm_app/base.html" %}
{% block body_block %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
  }
  h1{
    font-size:80px;
  }
</style>

<div id=central class="jumbotron">
  <div class="container">
    <div id=jumbotron1 class="jumbotron">
      <form method="POST">
      Kod zabezpieczający:  {% csrf_token %}


        <input type="password" name="haslo"><br><br>
        <button type="submit" class="btn btn-outline-info btn-lg">Zatwierdź</button>
      </form>



    </div>
  </div>
</div>
{% endblock %}
