{% extends "ksm_app/base.html" %}
{% block body_block %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
    font-size: 35px;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
  }
  h1{
    font-size:80px;
  }

  .white-text{
    color: white;
  }
  .yellow-color{
    color: #e8e37d;
</style>

<div id=central class="jumbotron">
  <div class="container">
    <div id=jumbotron1 class="jumbotron">
      <div class="media">
         <img src="{{ request.judges.zdjecie.url }}" class="img-responsive img-fluid">
          <div class="media-body">
            <h1 class="mt-0">{{judges.imię}} {{judges.nazwisko}}</h1><br>
            <span class="white-text">Email:</span><span class="yellow-color"> {{judges.email}}</span><br>
            <span class="white-text">Miasto:</span><span class="yellow-color"> {{judges.miasto}}</span><br>
            <span class="white-text">Szkoła:</span><span class="yellow-color"> {{judges.szkoła}}</span><br>
            <span class="white-text">Organizacja:</span><span class="yellow-color"> {{judges.organizacja}}</span><br>
            <span class="white-text">Profil:</span><span><a href="{{judges.facebook}}"> Facebook</a></span><br>
            <span class="white-text">Dyspozycyjność:</span><span class="yellow-color"> {{judges.dyspozycyjnosc}}</span><br>
            <span class="white-text">Opis:</span><span class="yellow-color"> {{judges.opis}}</span><br>
            <p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Kalendarz
              </a>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <iframe src="https://calendar.google.com/calendar/embed?src=zadebatuj%40ksmowcow.pl&ctz=Europe%2FWarsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
              </div>



          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
