{% extends "ksm_app/base.html" %}
{% block body_block %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
  }
  h1{
    font-size:80px;
  }
</style>

<div id=central class="jumbotron">
  <div class="container">
    <div id=jumbotron1 class="jumbotron">
      <h3>Telefon: <a href="tel:501 198 913">501 198 913</a></h3><br>
      <h3>Telefon: <a href="tel:666 041 214">666 041 214</a></h3>
    </div>
  </div>
</div>


{% endblock %}
