{% extends "ksm_app/base.html" %}
{% block body_block %}
<style media="screen">
  #jumbotron1{
    background-color: #212830;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
  }
  #central{
    background-color: #5caad1;
    color: white;
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
  }
  h1{
    font-size:80px;
  }
.para{
  font-size: 10px;
  text-aling:left;
}
</style>

<div id=central class="jumbotron">
  {% if registered %}
  <div class="container">
    <div id=jumbotron1 class="jumbotron">
    <h1>Dziękujemy za rejestracje</h1>
    <h3>Teraz możesz się zalogować</h3>
    <a id='bt' class="btn btn-success" href="{% url 'ksm_app:user_login' %}" role="button">Zaloguj</a>

  {% else %}
    <h1>Zarejestruj się jako sędzia</h1>
  <div class="container">
    <div id=jumbotron1 class="jumbotron">

      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nazwa użytkownika</span>
          </div>
          {{ user_form.username }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Hasło</span>
          </div>
          {{user_form.password }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Imię</span>
          </div>
          {{ judges_form.imię }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nazwisko</span>
          </div>
          {{ judges_form.nazwisko }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">E-mail</span>
          </div>
          {{ judges_form.email }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Miasto</span>
          </div>
          {{ judges_form.miasto }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Szkoła</span>
          </div>
          {{ judges_form.szkoła }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Organizacja</span>
          </div>
          {{ judges_form.organizacja }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Profil Facebook</span>
          </div>
          {{ judges_form.facebook }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Opis</span>
          </div>
          {{ judges_form.opis }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Dyspozycyjność</span>
          </div>
          {{ debatants_form.dyspozycyjnosc }}
        </div>
        Akceptuje Regulamin:(<a href="{% url 'ksm_app:instruction' %}">Regulamin</a>)
        {{ judges_form.accept }}<br><br>
        {{ judges_form.accept2 }}<br>
        Akceptuje politykę prywatności:
        <p class='para'>Wyrażam zgodę na przetwarzanie przez Krakowskie
          Stowarzyszenie Mówców z siedzibą w Krakowie przy ul. Nawojki 6/150,
          30-072; KRS: 0000607741. moich danych osobowych zawartych w niniejszym
           formularzu, w celu udziału w procesie organizacji, przeprowadzenia i
           dokumentacji debat online. Administratorem danych jest
           Krakowskie Stowarzyszenie Mówców z siedzibą w Krakowie przy ul.
           Nawojki 6/150, 30-072; KRS: 0000607741
          Administrator danych osobowych:
          Informujemy, że Administratorem Państwa danych osobowych jest Krakowskie
          Stowarzyszenie Mówców z siedzibą w Krakowie przy ul. Nawojki 6/150, 30-072;
          KRS: 0000607741 (dalej: Administrator).
          Zakres zbieranych danych osobowych:
          Dane osobowe zbierane przez Administratora to imię i nazwisko,
          dane kontaktowe (adres e-mail).
          Cel i podstawa prawna przetwarzania danych osobowych:
          Państwa dane osobowe zawarte w niniejszym formularzu będą przetwarzane na
          podstawie zgody, o której mowa w art. 6 ust. 1 lit. a) Rozporządzenia
          Parlamentu Europejskiego i Rady (UE) 2016/679 (dalej: Rozporządzenie),
          w celu uwzględnienia Państwa osoby w procesie organizacji i przeprowadzania
          i dokumentacji debat online.
          Macie Państwo prawo dostępu do treści swoich danych osobowych oraz otrzymania
          kopii tych danych, a także prawo żądania ich poprawiania, usunięcia, ograniczenia
           przetwarzania, wniesienia sprzeciwu wobec przetwarzania,
            jak również przenoszenia danych.
          Realizacja żądania usunięcia danych jest
          równoznaczne z rezygnacją z udziału w
          procesie organizacji, przeprowadzania i dokumentacji debat.
          W przypadku chęci realizacji powyższych praw, prosimy o kontakt drogą
          elektroniczną na adres e-mail kontakt@ksmowcow.pl
          Jednocześnie informujemy, że przysługuje Państwu prawo wniesienia skargi
          do Prezesa Urzędu Ochrony Danych Osobowych (PUODO) z siedzibą w Warszawie, ul. Stawki 2.
          </p><br><br>
        <button type="submit" class="btn btn-outline-info">Zarejestruj</button>
      </form>
    {% endif %}
  </div>
    </div>
  </div>


{% endblock %}
