.nav-link{
    position: relative;
}
header nav .sub-menu .sub-link a{
    text-decoration: none;
    color: white;
}
header nav .sub-menu{
    list-style: none;
    position: absolute;
    //width: 300px;
    right: 3%;
    margin-top: 3vh;
    display: none;
    opacity: 0;
    visibility: hidden;
}
header nav ul li:hover > .sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}