header{

    background-color: #222222;
    height: 10vh;
}
body{
    background: none;
}
.debatants-detail-section{
    padding-top: 10vh;
    background-color: white;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    align-items: center;
}
.debatant-text{
    font-size: 30px;
    color: #5fa8d3;
    flex: 1;
}
.debatants-details{
    font-size: 25px;
    color: #959494;
    animation: move 1.5s forwards;
    flex: 1;
}
.debatant-info{
    color: black;
}
.debatants-details a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
}
.buttons{
    margin-top: 20px;
}
.buttons a{
    background-color: #999999;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.buttons a:hover{
    background-color: #383d41;
    color: white;
    transition: all 0.5s ease-in-out;
}
@keyframes move {
    0%{transform: translateX(-300px);opacity: 0}
    100%{transform: translateX(0);opacity: 1}
}
@media screen and (max-width: 1200px){
    .debatant-text{
        font-size: 25px;
    }
    .debatants-details{
        font-size: 20px;
    }
}
@media screen and (max-width: 920px){
    .debatants-detail-section{
        flex-direction: column;
        justify-content: space-around;
    }
    .debatant-text{
        width: 100%;
        text-align: left;
        margin-top: 5vh;
        flex: 1;
    }
    .debatants-details{
        margin-bottom: 5vh;
        flex: 2;
    }
}
@media screen and (max-width: 530px){
    .debatants-detail-section{
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        width: 80%;
    }
    .debatant-text{
        margin-top: 5vh;
        font-size: 20px;
    }
    .debatants-details{
        margin-bottom: 5vh;
        font-size: 18px;
    }
}
@media screen and (max-width: 420px){
    .debatant-text{
        font-size: 16px;
    }
    .debatants-details{
        font-size: 14px;
    }
}
@media screen and (max-width: 320px){
    .debatant-text{
        font-size: 14px;
    }
    .debatants-details{
        font-size: 12px;
    }
}