body{
    background: none;
    height: 90vh;
}
header{
    background-color: #222222;
}

.phone-main{
    padding-top: 10vh;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone-main .phone-logo img{
    width: 500px;
    height: 500px;
}
.phone-text a{
    text-decoration: none;
    color: #21c7f1;
}
.phone-text h3{
    font-size: 40px;
}
.phone-text a:hover{
    border-bottom: 2px solid #21c7f1;
}

@media screen and (max-width: 1020px){
    .phone-text h3{
        font-size: 30px;
    }
}
@media screen and (max-width: 860px){
    .phone-main{
        flex-direction: column;
    }
    .phone-main .phone-logo img{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 520px){
    .phone-main .phone-logo img{
        width: 300px;
        height: 300px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 320px){
    .phone-text h3{
        font-size: 20px;
    }
}